.sub_box {
  background-color: white;
  border-radius: 25px;
  height: 99vh;
}
.grid_styles_div {
  border: 1px;
  border-radius: 10px;
  background-color: white;
}
.bodybottom_mainbox {
  border: 1px;
  border-radius: 10px;
  background-color: white;
  margin: 10px 10px 10px 10px;
}
.grid_spacing {
  margin: 15px !important;
}
.main_grid_container {
  background-color: #f7f7f7;
  border: 1px;
  white-space: nowrap;
  margin: 20px;
  border-radius: 10px;
}
/* .main_gridfor_body {
  height: 80vh;
  overflow-y: scroll;
} */
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
} */
.tab_styles {
  text-transform: none !important;
}

.main_gridfor_body {
  margin-top: 2%;
}
.header_bg_circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.modal_textfield_grid {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_typography {
  display: flex;
  justify-content: center;
  align-items: center;
}
